.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
table, td, th {
  border: 1px solid;
}

table{
  margin-left: 35em;
  margin-top: 5em;
}